/* ==========================================================================
   Base styles: opinionated defaults in Boostrap
   ========================================================================== */
@font-face {
    font-family: "KairosSans_variable";
    src: url("./KairosSans_Variable.ttf") format("truetype");
    /* src: url('./Gingham.woff2') format('woff2'),
       url('./Gingham.woff') format('woff');  */
}

 /* weight range is 300 to 700 */
  /* width range is 1 to 150 */


html { width:100%;height:100%;}
body {
    width:100%;
    height: 100%;
    /* overflow-x:hidden; */
    padding:0;
    margin:0;
    font-family: 'KairosSans_variable', sans-serif;
   color:black;
   background-color:#ffedf1;

   /* background-image: linear-gradient(to top,rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.8) );  */
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: -0.01rem;
    transition: .3s ease-in-out;   
    font-variation-settings: 'wght' 330;


}


li {list-style: none;}

a { cursor: pointer; color: black;}
a:hover {color: white; text-decoration: none;
}

label {width:100%; padding-bottom:2rem; cursor: pointer;}

iframe { border:0; width:100%; height:-webkit-fill-available;}

nav, .navbar { padding:0;}

#container {
    display:flex;
    position: relative;

    /* justify-content: center; */
    height:100vh;
    width:100%;
    /* position:fixed, 0px null null 0px; */
    padding:0;
    margin:0;
}

section {
    flex:none;
    will-change: transform;
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0 2rem;
    transition:1s ease;  
    font-variation-settings: 'wdth' var(--text-axis); 
    /* border:solid 1px red; */


}

.modal-backdrop
{
    opacity:1 !important;
    background-color:#ffedf1;
}

button.close {
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
}
.modal-content {
    /* position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto; */
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
}
.modal-lg {
    /* width:100%; */
    max-width:900px;
    /* max-width:100%; */

}

@media (min-width: 992px){
.modal-lg {
    max-width:900px;
}
}

/* @media (min-width: 576px)
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
} */

/* ==========================================================================
    Menu Structure
   ========================================================================== */

   section .scroll {
    position: absolute;top: 0px;bottom: 0px;left: 0px;right: -9px; padding-right: 9px; overflow-y: auto;}

#top {
    display: none;
    font-size:2.2rem;
    position: fixed; top: 0px; width: 100%; height:auto; 
    background-image: linear-gradient(to top, rgba(255,237,241,0),  rgba(255,237,241,0.9), rgba(255,237,241,1));
    padding:1rem; 
    padding-bottom:3rem;
    z-index: 200;
    text-align: center;
}
#info {
    margin: 0 2rem;
    transition: 1s ease;   
    /* font-size:2rem;
    line-height: 2.5rem;  */
    max-width: 80vw; 
    min-width: 40vw;

}

.test {
    position:fixed;
    top:20px;
    border:green;
    width: 10px;
    height:10px;
    background-color: green;
    z-index:200;
}

.zoom-in{
    font-variation-settings: 'wght' 330, 'wdth' 125;
   font-size:3.3rem;
   line-height: 3.5rem;

}

.zoom-out {
    font-variation-settings: 'wght' 330, 'wdth' 90;

    font-size:2rem;
    line-height: 2.2rem;

}


.caption {
    font-size:2rem;
    line-height: 2.2rem;
}



#artist {
    flex-direction: column;
    background-color:inherit;
    max-width: 50vw; 
    /* max-width: 50vw; 
    min-width:12vw; */
    /* overflow: visible; */
    min-width: 200px;
}
#artwork {
    display:none;
    width:-webkit-fill-available;
    height:100vh;
    top:0;
    left:0;
    padding:0;
    margin:0;
}
.extraworks {
    display: none;
}
.goback {
    display:none;
    position:relative;
    top:0;
    padding-bottom:2rem;
    cursor: pointer;

}

.thumb {
    padding: 0 2rem 2rem 0;
    max-width:200px;
    transition: ease-in-out;
    min-width:200px;
    /* width:100px; */
    /* display: none; */

    /* width:100%; */
}


/* label:nth-child(1){
    margin:0;
} */

/* [class*="col-"] {height:100%;} */


 

/* ==========================================================================
    Media Query
   ========================================================================== */

   @media screen and (max-width: 768px){
    body {font-size:1.2rem; line-height: 1.5rem;font-variation-settings: 'wght' 375;}  
    
   }
